# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
orbs:
# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/2.0/configuration-reference/#jobs
# Exercise - Rollback

commands:
  # Exercise: Reusable Job Code
  print_pipeline_id:
    parameters:
      id: 
        type: string
    steps:
      - run: echo << parameters.id >>

  # Exercise - Rollback
  destroy_environment:
    steps:
      - run:
          name: Destroy environment
          # ${CIRCLE_WORKFLOW_ID} is a Built-in environment variable 
          # ${CIRCLE_WORKFLOW_ID:0:5} takes the first 5 chars of the variable CIRCLE_CI_WORKFLOW_ID 
          when: on_fail
          command: |
            aws cloudformation delete-stack --stack-name myStack-${CIRCLE_WORKFLOW_ID:0:5}


jobs:
  create_infrastructure:
    docker:
      - image: cimg/aws:2023.01
    steps:
      - checkout
      - run:
          name: Create Cloudformation Stack
          command: aws cloudformation create-stack  --stack-name myStack-${CIRCLE_WORKFLOW_ID:0:5}
            --region us-east-1 --template-body file://template.yml
  
  configure_infrastructure:
    docker:
      - image: python:3.7-alpine3.11
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints: ["b9:fa:82:79:11:fc:50:5e:1e:32:fc:cd:14:5d:7e:97"]
      - run:
          name: Install dependencies
          command: |
            apk add --update ansible # install the dependencies
      - run:
          name: Configure Server
          command: |
            ansible-playbook -i inventory playbook.yml
    
  smoke_test:
    docker:
      - image: alpine:latest
    steps:
      - run: apk add --update curl
      - run: 
          name: smoke test
          command: |
            URL="https://blog.udacity.com/"
            # Test web site existance
            if curl -s --head $URL
            then
              return 0
            else 
              return 1
            fi



# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  myWorkflow:
    jobs:
      #- create_infrastructure
      - configure_infrastructure:
          # requires:
          #   - create_infrastructure
      # - smoke_test