# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
orbs:
# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/2.0/configuration-reference/#jobs
jobs:
  # create_infrastructure:
  #   docker:
  #     - image: cimg/aws:2023.01
  #   steps:
  #     - checkout
  #     - run:
  #         name: Create Cloudformation Stack
  #         command: aws cloudformation create-stack  --stack-name myStack-${CIRCLE_WORKFLOW_ID:0:5}
  #           --region us-east-1 --template-body file://template.yml
  configure_infrastructure:
    docker:
      - image: python:3.7-alpine3.11
      steps:
        - checkout
        - add_ssh_keys:
            fingerprints: ["82:4b:a0:8e:a4:2a:7a:ca:b1:b2:f9:29:8a:4a:12:2c"]
        - run:
            name: Install dependencies
            command: |
              apk add --update ansible # install the dependencies
        - run:
            name: Configure Server
            command: |
              ansible-playbook -i inventory.txt playbook.yml


# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  myWorkflow:
    jobs:
      - configure_infrastructure
